body {
    background-color: #202020;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #ffcc00;
}

a {
    margin: 10px;
    color: yellow;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: orange;
}

input {
    padding: 10px;
    width: 200px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

table {
    margin: auto;
    background-color: #303030;
    color: white;
}

th {
    background-color: black;
    padding: 10px;
}

td {
    padding: 10px;
}
